<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunsung.flow">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flow"
        tools:targetApi="31">
        <activity
            android:name=".TerminalActivity"
            android:exported="false" />
        <activity
            android:name=".TakeActivity"
            android:exported="false" />
        <activity
            android:name=".TransformActivity"
            android:exported="false" />
        <activity
            android:name=".FlowFilterActivity"
            android:exported="false" />
        <activity
            android:name=".flow_as_flow_stop.LifeCeycleFlowActivity"
            android:exported="false" />
        <activity
            android:name=".flow_as_flow_stop.AsFlowActivity"
            android:exported="false" />
        <activity
            android:name=".flow_emit_collect.EmitCollectActivity"
            android:exported="false"
            android:label="@string/title_activity_emit_collect"
            android:theme="@style/Theme.Flow.NoActionBar" />
        <activity
            android:name=".flow_blocking_nonblocking.BlockingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>