<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunsung.flow">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flow"
        tools:targetApi="31">
        <activity
            android:name="com.yunsung.flow.study_flow.flow_map.FlatMapLatestActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_map.FlatMapMergeActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_map.FlatMapContentActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_exception.ExceptionActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_zip.CombineActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_zip.ZipActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_collectLastest.CollectLastestActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_buffer.BufferActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_flowon.FlowOnActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_application.ApplicationActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_terminal.TerminalActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_take.TakeActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_transform.TransformActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_filter_map.FlowFilterActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_as_flow_stop.LifeCeycleFlowActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_as_flow_stop.AsFlowActivity"
            android:exported="false" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_emit_collect.EmitCollectActivity"
            android:exported="false"
            android:label="@string/title_activity_emit_collect"
            android:theme="@style/Theme.Flow.NoActionBar" />
        <activity
            android:name="com.yunsung.flow.study_flow.flow_blocking_nonblocking.BlockingActivity"
            android:exported="false" />
        <activity
            android:name=".flow_ex.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>